<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.GruppeID}}" placeholder="GruppeID"
            name="gruppeid">
        <label for="floatingInput">ID</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Bezeichnung}}" placeholder="Vorname"
            name="bezeichnung">
        <label for="floatingInput">Bezeichnung</label>
    </div>
</div>
<div class="col-12">
    <div class="form-floating mb-3">
        <textarea class="form-control" id="floatingInput" placeholder="Bemerkung" name="bemerkung"
            style="height: 200px;">{{this.Bemerkung}}</textarea>
        <label for="floatingInput">Bemerkung</label>
    </div>
</div>
<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
</div>