<!--Nav Bar-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/group">Gruppen</a></li>
        <li class="breadcrumb-item active" aria-current="page">Gruppe ändern</li>
    </ol>
</nav>

<!--Alert Box-->
{{#if alert}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{alert}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}


<!--Input Felder-->
{{#each rows}}
<form class="row g-3 needs-validation" method="POST" action="/editgroup/{{this.GruppeID}}">
    {{> group-edit-form}}
</form>
{{/each}}