<div class="table-responsive">
    <table class="table table-hover">
        <thead class="table-light">
            <tr>
                <th scope="col">Funktion</th>
                <th scope="col">Erläuterung</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row"><a class="btn btn-primary" href="/user" role="button">Teilnehmerverwaltung</a></td>
                <td scope="row">-hinzufügen -bearbeiten -löschen -ansehen</td>
            </tr>
            <tr>
                <td scope="row"><a class="btn btn-primary" href="/trainer" role="button">Ausbilderverwaltung</a></td>
                <td scope="row">-hinzufügen -bearbeiten -löschen -ansehen</td>
            </tr>

            <tr>
                <td scope="row"><a class="btn btn-primary" href="/group" role="button">Gruppenverwaltung</a></td>
                <td scope="row">-hinzufügen -bearbeiten -löschen -ansehen</td>
            </tr>
        </tbody>
    </table>
</div>


<!-- 
                <div class="container text-center">
            <div class="row">
                <div class="col-6">
                    <a class="btn btn-primary" href="/user" role="button">Teilnehmerverwaltung</a>
                </div>
                <div class="col-6">
                    <p>-hinzufügen -bearbeiten -löschen -ansehen</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <a class="btn btn-primary" href="/trainer" role="button">Ausbilderverwaltung</a>
                </div>
                <div class="col-6">
                    <p>-hinzufügen -bearbeiten -löschen -ansehen</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <a class="btn btn-primary" href="/group" role="button">Gruppenverwaltung</a>
                </div>
                <div class="col-6">
                    <p>-hinzufügen -bearbeiten -löschen -ansehen</p>
                </div>
            </div>
        </div>
        -->